{% load static %}
<html>
<head>
    <link rel="stylesheet" href="{% static 'core/main.css' %}">
</head>
<body>
    {% for product_listing in product_listings %}
    <div class="field">
        <div class="name">id</div> <div class="value">{{product_listing.id}}</div>
        <div class="name">name</div> <div class="value">{{product_listing.name}}</div>
        <div class="name">price</div> <div class="value">{{product_listing.price}}</div>
        <div class="name">slug</div> <div class="value">{{product_listing.slug}}</div>
        <div class="name">uuid</div> <div class="value">{{product_listing.uuid}}</div>
        <div class="name">link</div> <div class="value"><a href="{% url 'product_detail' product_listing.id %}">link</a></div>
    </div>
    {% endfor %}
</body>
</html>