.field {
    display: flex;
    flex-wrap: wrap;
    width: 542px;
    margin-left: 100px;
    margin-bottom: 20px;
    border: 1px solid black;
}

.name {
    width: 30px;
    text-align: right;
    padding-right: 5px;
}

.value {
    width: 500px;
    border: 1px solid #ccc;
    padding-left: 5px;
}

.message {
    border: 1px solid red;
    width: 300px;
}
